.map {
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 500px;
}

.slide-container {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 25px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    border-radius: 25px;
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.scroll-btn {
    width: 30px;
    height: 30px;
    background-repeat:no-repeat;
}
.scroll-down {
    background-image: url('./scroll-down.png');
}
.scroll-up {
    background-image: url('./scroll-up.png');
}
